{% load widget_tweaks %}
<div class="form-section">
    <h3>Personal Information</h3>
    <div class="aligned-field"><label>{{ form.employee_number.label }}</label>{{ form.employee_number|add_class:"form-control" }}</div>
    <div class="aligned-field"><label>{{ form.prefix.label }}</label>{{ form.prefix|add_class:"form-control" }}</div>
    <div class="aligned-field"><label>{{ form.first_name.label }}</label>{{ form.first_name|add_class:"form-control" }}</div>
    <div class="aligned-field"><label>{{ form.last_name.label }}</label>{{ form.last_name|add_class:"form-control" }}</div>
    <div class="aligned-field"><label>{{ form.gender.label }}</label>{{ form.gender|add_class:"form-control" }}</div>
    <div class="aligned-field"><label>{{ form.date_of_birth.label }}</label>{{ form.date_of_birth|add_class:"form-control" }}</div>
    <div class="aligned-field"><label>{{ form.country_of_origin.label }}</label>{{ form.country_of_origin|add_class:"form-control" }}</div>
    <div class="aligned-field"><label>{{ form.place_of_birth.label }}</label>{{ form.place_of_birth|add_class:"form-control" }}</div>
</div>
