{% load checklist_tags %}
{% for item in tree %}
    {% with node=item.node children=item.children %}
    {% if node.node_kind == 'section' %}
    <div class="card checklist-section">
        <h3 class="checklist-section-title">{{ node.label_en }} <small class="field-hint-de">{{ node.label_de }}</small></h3>
        {% include "checklists/partials/node_tree.html" with tree=children responses=responses can_edit=can_edit instance=instance preview_mode=preview_mode %}
    </div>
    {% elif node.node_kind == 'html' %}
    <div class="checklist-html-block">
        {% if node.label_en %}
        <h4 class="checklist-html-title">{{ node.label_en }} <small class="field-hint-de">{{ node.label_de }}</small></h4>
        {% endif %}
        {% if node.help_en %}<div class="checklist-html-content">{{ node.help_en|safe }}</div>{% endif %}
        {% if node.help_de %}<div class="checklist-html-content field-hint-de">{{ node.help_de|safe }}</div>{% endif %}
    </div>
    {% elif node.node_kind == 'field' %}
    <div class="aligned-field checklist-field">
        {% if node.field_type == 'radio_group' %}
        <fieldset class="checklist-radio-group">
            <legend>
                {{ node.label_en }}
                <small class="field-hint-de">{{ node.label_de }}</small>
                {% if node.required_for_completion %}<span class="read-ack-badge">Required / Pflicht</span>{% endif %}
            </legend>
            {% if node.help_en %}<p class="field-hint">{{ node.help_en }}<br><span class="field-hint-de">{{ node.help_de }}</span></p>{% endif %}
            {% for opt_item in children %}
            {% with opt=opt_item.node %}
            <div class="form-check-row checklist-radio-option">
                {% if can_edit %}
                <input type="radio" name="field_{{ node.pk }}" id="field_{{ node.pk }}_{{ opt.pk }}" value="{{ opt.choice_key }}"
                    {% if responses|get_response_choice:node.pk == opt.choice_key %}checked{% endif %}{% if preview_mode %} disabled{% endif %}>
                <label for="field_{{ node.pk }}_{{ opt.pk }}">
                    {% if opt.label_en %}{{ opt.label_en }} <small class="field-hint-de">{{ opt.label_de }}</small>{% else %}<span>{{ opt.choice_key }}</span>{% endif %}
                </label>
                {% else %}
                <span class="checklist-radio-readonly">
                    {% if responses|get_response_choice:node.pk == opt.choice_key %}&#9679;{% else %}&#9675;{% endif %}
                    {% if opt.label_en %}{{ opt.label_en }} <small class="field-hint-de">{{ opt.label_de }}</small>{% else %}<span>{{ opt.choice_key }}</span>{% endif %}
                </span>
                {% endif %}
            </div>
            {% endwith %}
            {% endfor %}
        </fieldset>
        {% else %}
        <label for="field_{{ node.pk }}">
            {{ node.label_en }}
            <small class="field-hint-de">{{ node.label_de }}</small>
            {% if node.required_for_completion %}<span class="read-ack-badge">Required / Pflicht</span>{% endif %}
        </label>
        {% if node.help_en %}<p class="field-hint">{{ node.help_en }}<br><span class="field-hint-de">{{ node.help_de }}</span></p>{% endif %}

        {% if node.field_type == 'checkbox' %}
            {% if can_edit %}
            <div class="form-check-row">
                <input type="checkbox" name="field_{{ node.pk }}" id="field_{{ node.pk }}" {% if responses|get_response_bool:node.pk %}checked{% endif %}{% if preview_mode %} disabled{% endif %}>
                <label for="field_{{ node.pk }}">Done / Erledigt</label>
            </div>
            {% else %}
            <p>{% if responses|get_response_bool:node.pk %}&#10003;{% else %}&mdash;{% endif %}</p>
            {% endif %}
        {% elif node.field_type == 'textarea' %}
            {% if can_edit %}
            <textarea name="field_{{ node.pk }}" id="field_{{ node.pk }}" class="form-control" rows="3"{% if preview_mode %} disabled{% endif %}>{{ responses|get_response_text:node.pk }}</textarea>
            {% else %}
            <p>{{ responses|get_response_text:node.pk|default:"&mdash;" }}</p>
            {% endif %}
        {% elif node.field_type == 'file' %}
            {% with file_resp=responses|get_response_obj:node.pk %}
            {% if file_resp and file_resp.file and instance %}
            <p><a href="{% url 'checklists:instance_file_download' instance.pk file_resp.pk %}">{{ file_resp.original_filename|default:"Download" }}</a></p>
            {% endif %}
            {% endwith %}
            {% if can_edit %}
            <input type="file" name="field_{{ node.pk }}_file" id="field_{{ node.pk }}_file" class="form-control"{% if preview_mode %} disabled{% endif %}>
            {% endif %}
        {% else %}
            {% if can_edit %}
            <input type="text" name="field_{{ node.pk }}" id="field_{{ node.pk }}" class="form-control" value="{{ responses|get_response_text:node.pk }}"{% if preview_mode %} disabled{% endif %}>
            {% else %}
            <p>{{ responses|get_response_text:node.pk|default:"&mdash;" }}</p>
            {% endif %}
        {% endif %}

        {% if node.allow_not_applicable %}
            {% if can_edit %}
            <div class="form-check-row">
                <input type="checkbox" name="field_{{ node.pk }}_na" id="field_{{ node.pk }}_na" value="1" {% if responses|get_response_na:node.pk %}checked{% endif %}{% if preview_mode %} disabled{% endif %}>
                <label for="field_{{ node.pk }}_na">N/A &mdash; Not applicable / Nicht zutreffend</label>
            </div>
            {% elif responses|get_response_na:node.pk %}<p><em>N/A</em></p>{% endif %}
        {% endif %}
        {% endif %}
    </div>
    {% endif %}
    {% endwith %}
{% endfor %}
